<div class = "question-delete">
  <form action='/questions/<%= question.id %>' method='POST'>
    <input type='hidden' name='_method' value='DELETE'>
    <input type='submit' value='delete'>
  </form>
</div>
