<div class = "user-update-form" >
  <form action='/users/<%=@user.id%>' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
  <p>Email<input type='text' name='user[email]' value='<%= @user.email%>'></p>
  <input type='submit' value='update'>
</div>
